<div>
  <div>
    <div class="pb-2">
      <h2 class="text-2xl font-semibold text-gray-800">System Activity</h2>
      <p class="text-sm text-gray-500"> View recent user actions, system events, and changes across your smart farming platform.</p>
    </div>
  </div>

  <app-table
    [data]="data"
    [columns]="columns"
    [filterConditions]="filterConditions"
    [searchQuery]="searchQuery"
    (filterChange)="onFilterChange($event)"
    (sortChange)="onSortChange($event)"
    (searchChange)="onSearchChange($event)"
  ></app-table>
</div>
