
<div class="p-6">
  <!-- Header with title and Add New User button -->
  <div class="pb-2 flex items-center justify-between">
    <div>
      <h2 class="text-2xl font-semibold text-gray-800">Inventory</h2>
      <p class="text-sm text-gray-500">Easily track tools, materials, and supplies to keep your farm running smoothly.</p>
    </div>
    <button
      class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 text-sm"
      (click)="onAddInventory()"
    >
      + Add New Inventory
    </button>
  </div>


  <ng-template #statusRenderer let-value let-record="record">
    <nz-tag [nzColor]="getStatusColor(value)">
      {{ value }}
    </nz-tag>
  </ng-template>

  <ng-template #actionButton let-record>
    <button
      class="px-2 py-1 text-sm bg-green-500 text-white rounded hover:bg-green-600 mr-2"
      (click)="onEdit(record)"
    >
      Edit
    </button>

    <button
      class="px-2 py-1 text-sm bg-red-500 text-white rounded hover:bg-red-600 mr-2"
      (click)="onDelete(record)"
    >
      Delete
    </button>
  </ng-template>

  <app-table
    [data]="data"
    [columns]="columns"
    [filterConditions]="filterConditions"
    [searchQuery]="searchQuery"
    (filterChange)="onFilterChange($event)"
    (sortChange)="onSortChange($event)"
    (searchChange)="onSearchChange($event)"
    [customRenderers]="{status: statusRenderer}"
    [rowActionTemplate]="actionButton"
  ></app-table>
</div>
